*{
    margin: 0;
    padding: 0;
}
div{
    background-color: aqua;
    padding: 10px;
    word-spacing: 1px;
    letter-spacing: 1.2px;    
}
h3{
    color: rgb(121, 10, 224);
    font-size: 22px;
}
p{
    margin-top: 20px;
    color: brown;
    font-size: 18px;
}